*{
    margin: 0;
}
h1{
    margin-bottom: 15px;
}
ul{
    margin-bottom: 15px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
table, th, td {
    border: 1px solid black;
}
table{
    margin-bottom: 10px;
}
th, td{
    padding: 10px;
}