*{
    margin: 0;
}
h1, ul{
    margin-bottom: 15px;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    box-sizing: border-box;
}
table, th, td {
    border: 1px solid black;
}
table{
    margin-bottom: 10px;
}
th, td{
    padding: 10px;
}